<!--Creator: Lance Nelson, Student Number: 301176007, Date: Sept.28/21-->
<!DOCTYPE html>
<html lang="en">
<!--Header-->
<head>
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/Content/app.css' />

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>